<li>
	{{name}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}UNEAT{{else}}EAT{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
rs