
<div class="card border-light mb-3 shadow-lg" style="max-width: 16rem;">
	<div class="card-header text-white d-flex align-items-center justify-content-evenly">{{ name }}</div>
	<div class="card-body">
		<div class="row">
			<div class="hamburger col-8 d-flex justify-content-center">
				<i class="fas fa-hamburger fa-5x" data-id="{{id}}" data-devoured="{{devoured}}" data-bs-toggle="tooltip" data-bs-placement="right" title="Yum :)"></i>
			</div>
			<div class="col-4 d-flex justify-content-center align-items-center">
				{{#if devoured}}
					<span class="change-devoured">
						<i class="fas fa-shopping-bag fa-2x" data-id="{{id}}" data-devoured="{{devoured}}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Save Burger<br>for later..."></i>
					</span>
				{{else}}
					<span class="change-devoured">
						<i class="fas fa-utensils fa-2x" data-id="{{id}}" data-devoured="{{devoured}}" data-bs-toggle="tooltip" data-bs-placement="right" title="Eat Now!"></i>
					</span>
				{{/if}}		
			</div>
		</div>
	</div>
</div>